 body{
  

background: rgba(0,0,0,0.6) url(./images/background\ 2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100%;
  color:white;
  font-size: x-large;
}
#Recipe_color>h2{
    color: black;
}




#Smoothies>h3 {
    color:#AB4343;
    font-size: xx-large;
    font-style: italic;
    padding-right: 50px;
}
img{
    border-radius: 9px;
}
#Green Dream Smoothie>img {
    float: left;
    border-radius: 1%;
}
img{
    border-radius: 9px;
}
/* #Green Dream Smoothie>img{
    float: left;
    border-radius: 1%;
} */
#Smoothies {
    width: 50%;
    margin: 0 auto;
}
#Smoothies>p {
    height: 130px;
}
#Raspberry Green Tea Smoothie>h2 {
    font-size: xx-large;
    font-style: normal;
    color: blue;
}


h3 {
    text-align: center;

}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }

  #Healthy Diet>h3 {
    color:maroon;
    font-size: xx-large;
    font-style: italic;
    padding-right: 50px;
}
h2{
    color:blue
}