#background{
    background: url(./images/the_best_vitamins_for_exercise_natural_workout_supplements_8845_orig.jpg);
    text-align: justify;
    color: black;
    padding: 40px;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
}
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0n;
    cursor: pointer;
}
oats{
    padding: 1px;
    height: 10px;
    width: 10%;
}

